*.a
*.la
*.lo
*.log
*.m4
*.o
*.stamp
*.swp
*.tar.xz
*.trs
*~

/aclocal.m4
/build/
/config.log
/config.status
/configure
.deps/
.dirstamp
/.libs/
/install-tree
/libtool
/Makefile
/Makefile.in
/src/c-sundry.pc
/test-api
